1-Tercer Semestre/4-Inglés A1/
1-Tercer Semestre/borquez.juan00@gmail.com.ics
/Inscripcion mecatrónica
2-Cuarto Semestre/borquez.juan00@gmail.com.ical.zip
2-Cuarto Semestre/borquez.juan00@gmail.com.ics
link capacitación.txt
1-Tercer Semestre/2-Cálculo/4-OCTAVE/octave-6.2.0-w64-installer.exe
2-Cuarto Semestre/2-Estadística Técnica/8-Documentos bibliográficos/Carpeta de documentos bibliográficos-20210731.zip
